# SPDX-FileCopyrightText: 2023-2025 Ilya Bizyaev <me@ilyabiz.com>

# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=The feedbot executable
After=network.target

[Service]
User=feedbotuser
Group=www-data
WorkingDirectory=/home/feedbotuser
Environment=RUST_BACKTRACE=full
# Use 'systemctl edit' to configure the rest of the environment.
ExecStart=/usr/local/bin/feedbot
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
